<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contáctanos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="myphoto" color="secondary-contrast">
  <img src="assets/images/epicalesoft_logo_dark.png" alt="" style="align-items: center">
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Convercemos</ion-card-subtitle>
        <ion-card-title>¿Tienes dudas o consultas?</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        ¿Quieres saber más de nuestros servicios?, no dudes en contactarnos, te responderemos a la brevedad...
        <ion-button expand="full" href="https://epicalesoft.com">Visitar</ion-button>

      </ion-card-content>
    </ion-card>
</ion-content>
